server:
  port: 9005


spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: Rajesh@6301259439
    url: jdbc:mysql://localhost:3306/PetexProject
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true
  mvc:
    dispatch-options-request: true

    
  mail:
    host: smtp.gmail.com
    port: 587
    username: thalapatirajesh454@gmail.com
    password: robbvmbzgjprjtiu
    properties:
      mail:
        smtp:
          starttls:
            enable: true  
    

    
  servlet:
    multipart:
      max-file-size: 1GB  # Set the maximum file size to 1GB
      max-request-size: 1GB
